div.carousel {
  height: 800px;
  width: 800px;
  /*position: relative;*/
}

div.items {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

img.active {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: left 400ms ease;
  left: 0%;
}

div.items > img:not(.active) {
  display: none;
}

img.left {
  position: absolute;
  left: -100%;
}

img.right {
  position: absolute;
  left: 100%;
}
